nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
}

nav a {
  display: inline-block;
  width: 6em;
  padding: 1em;
  background-color: #a9af04;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font: normal 100%/1.5 sans-serif;
}

nav {
  text-align: center;
}

h1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

span {
  background-color: #789;
  width: 10em;
  margin: 0 10em;
  padding: 0 10em;
}
